/* Yên Mai */

.coupon-deal-detail-main-block .user-cou-img {
  background: #fff none repeat scroll 0 0;
  border: 5px solid #fff;
  border-radius: 100px;
  height: 64px !important;
  width: 64px !important;
}

.got-badge {
  bottom: 250px !important;
  position: absolute;
  right: 33px;
}

.custom-height {
  min-height: 72px !important;
}

@media (max-width: 767px) and (min-width: 0px) {
  .got-badge {
    bottom: 10px !important;
    position: absolute;
    right: 33px;
  }
  .coupon-deal-detail-main-footer p {
    padding: 0 1.5rem !important;
  }

  .coupon-deal-detail-main {
    flex-direction: column !important;
  }
}

/* Hoa Phương */

form.user .form-control-user {
  font-size: 0.8rem !important;
  padding: 1.3rem 1rem !important;
}

.bg-login-image {
  background: url(https://images.unsplash.com/photo-1491492628162-d88fbe1cdd04?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

form.user .btn-user {
  font-size: 0.9rem;
  /* border-radius: 10rem; */
  padding: 0.75rem 1rem;
}

.login-back i {
  font-size: 22px !important;
}
