.title_empty {
  display: block;
  margin-bottom: 0.6rem;
  /* font-size: 1.2rem; */
}

.contentEmpty {
  margin-bottom: 1.2rem;
  text-align: center;
}

.imageSquare {
  display: block;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 100%;
  /* margin: 0 0 1.2rem; */
}

.imageSquare img,
.imageSquare > img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  border-radius: 0.4rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
